.card{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    .body, .header{
        cursor: pointer;
    }
    .day{
        font-size: 32px;
        font-weight: 700;
    }
    .footer{
        display: flex;
    }
}