@import "../../mixin";

.headerContext{
    font-family: "Merriweather Sans", sans-serif;
    .userInfo{
        display: flex;
        align-items: center;
        .userName{
            margin: 0;
        }
        .logedIn{
            margin-left: 10px;
        }
    }
    @include mobile{
        .userInfo{
            display: block;
            .logedIn{
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
}